services:
  postgres-server:
    image: postgres:14-alpine
    restart: always
    environment:
      POSTGRES_DB: zabbix
      POSTGRES_USER: zabbix
      POSTGRES_PASSWORD: zabbix_pwd
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - zabbix-net

  zabbix-server:
    image: zabbix/zabbix-server-pgsql:6.0-latest
    restart: always
    environment:
      DB_SERVER_HOST: postgres-server
      POSTGRES_USER: zabbix
      POSTGRES_PASSWORD: zabbix_pwd
      POSTGRES_DB: zabbix
      ZBX_STARTPOLLERS: 5
      ZBX_STARTPREPROCESSORS: 5
    ports:
      - "10051:10051"
    networks:
      - zabbix-net
    depends_on:
      - postgres-server

  zabbix-web-nginx-pgsql:
    image: zabbix/zabbix-web-nginx-pgsql:6.0-latest
    restart: always
    environment:
      DB_SERVER_HOST: postgres-server
      POSTGRES_USER: zabbix
      POSTGRES_PASSWORD: zabbix_pwd
      POSTGRES_DB: zabbix
      ZBX_SERVER_HOST: zabbix-server
      PHP_TZ: "Europe/Moscow"
    ports:
      - "80:80"
    networks:
      - zabbix-net
    depends_on:
      - zabbix-server

volumes:
  postgres_data:

networks:
  zabbix-net:
    driver: bridge